<h3>About Grammr</h3>

<p>A really simple proofreader which corrects spelling and grammar mistakes based on the context of complete sentences by comparing each sentence to billions of similar sentences from the web.</p>

<h4>Thanks</h4>
<hr style="margin: 5px 0">
<p>Thank you for Ginger Proofreader for such awesome service!</p>